<html lang="en">
   <head>
      <meta char="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Blog Site | <%= title %></title>
      <link rel="stylesheet" href="/styles.css">
   </head>
   <body>

      <%- include('./Partials/nav.ejs') %>

      <div class="blogs content">
         <div class="features">
            <h2>All Blogs</h2>
            <div class="line"></div>
         </div>
         <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
               <a class="single" href="/blogs/<%= blog._id %>">
                  <h3 class="title"><%= blog.title %></h3>
                  <p class="snippet"><%= blog.snippet %></p>
               </a>
            <% }) %> 
         <% } else { %>
            <p>There are no blogs to display...</p>
         <% } %> 
      </div>

      <%- include('./Partials/footer.ejs') %>

      <script>

         const menuBtn = document.querySelector(".fas");

         menuBtn.addEventListener("click", () => {
            if (menuBtn.classList.contains("fa-times")) {
               menuBtn.classList.remove("fa-times");
               menuBtn.classList.add("fa-bars");
            } else {
               menuBtn.classList.remove("fa-bars");
               menuBtn.classList.add("fa-times");
            }
         });
      
      </script>
      
      <script 
         src="https://kit.fontawesome.com/d5e6ebc1a9.js"              crossorigin="anonymous">
      </script>

   </body>
</html>